{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    <h1>Bienvenu!</h1>
    <p>Cette application te permet de lister toutes les tâches à faire et donc de bien organiser ton temps!</p>
    
     

</body>
</html>
{% endblock %}