
<h2 style="float:center; margin-left: 20px; margin-top: 15px;">Toutes les tâches </h2>
<!--
<section >
<div *ngFor="let p of tasks">
<a [ngStyle]="{'color': (p.priority === 'high') ? 'green' : (p.priority === 'normal') ? 'red' : (p.priority === 'low') ? 'yellow' : ''}">{{p.priority}}</a>

<a class ="btn" [ngClass]="{'btn-warning' : p.priority == 'normal'}" [ngClass]="{'btn-danger': ((p.priority == 'high'))}" [ngClass]="{'btn-success': ((p.priority == 'low'))}">{{p.priority}}</a>


</div>
</section>
-->

<div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Chercher">
</div>

<table class="table table-hover" style="float:center; margin-left: 15px; margin-top: 0px;">
  <thead>
    <tr>
      <th scope="col"><h4>Tâche</h4></th>
      <th scope="col"><h4>Priorité</h4></th>
      <th scope="col"><h4>A faire pour:</h4></th>
      <th scope="col" ><h4></h4></th>
      <th scope="col" ><h4></h4></th>
    </tr>
  </thead>

  <tbody>
    <tr class="table-active" *ngFor="let p of tasks | filter:searchText">
      <th scope="row"><h3><a class=""  [ngClass]="{'strikethrough' : p.status == true}">{{p.title}}</a></h3></th>
      <td> <a class ="btn " [ngClass]="{'btn-warning' : p.priority == 'normal','btn-danger': p.priority == 'high','btn-success': p.priority == 'low'}">{{p.priority}}</a></td>
      <td><a  class="btn btn-info" >{{p.task_date| date:'dd/MM/yyyy'}}</a></td>
      <td><a [routerLink]="['../task/edit',p.id]"class="btn btn-success">Mettre à jour</a></td>
      <td><a (click)="delete(p.id)" class="btn btn-danger">Supprimer</a> </td>
    </tr>
    </tbody>
    
</table>
 

